.header{
    --background:#224068;
  }
  .contentBg{
    --background: #2f517c;
    --background: -webkit-linear-gradient(to bottom, #2f517c, #56b4d3); /* Chrome 10-25, Safari 5.1-6 */
    --background: linear-gradient(to bottom, #2f517c, #56b4d3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-bottom: 0 !important;
    --padding-bootm:0 !important;
    scroll-behavior: smooth;
  }
ion-card {
  --background: #fff;
}
.subtitle {
  color: black;
  font-weight: bold;
  padding: 8px;
  font-size: 16px;
}
.title {
  color: black;
  font-weight: bold;
}